html {
	font-size: 18px;
}
body {
	margin: 0;
}
main {
	display: flex;
	min-height: calc(100vh - 4.5rem);
}
.d2l-component-catalog-side-nav {
	background-color: white;
	border-right: 1px solid #e6eaf0;
	flex: 0 0 22%;
	align-items: stretch;
	overflow-y: scroll;
}
.d2l-component-catalog-title {
	border-bottom: 1px solid #e6eaf0;
	padding-left: 1rem;
	padding-top: 1rem;
}
.d2l-component-catalog-side-nav ul {
	padding-left: 2rem;
}
.d2l-component-catalog-side-nav li {
	list-style-type: none;
	padding-bottom: 1rem;
}
.d2l-component-catalog-side-nav ul ul {
	padding-left: 0.8rem;
}
.d2l-component-catalog-side-nav ul ul li {
	padding-bottom: 0.2rem;
}
.d2l-component-catalog-side-nav li d2l-link.d2l-component-catalog-link-selected {
	border-left: 4px solid var(--d2l-color-celestine-minus-1);
	color: var(--d2l-color-celestine-minus-1);
	padding: 0.15rem 0 0.15rem 0.3rem;
}
.d2l-component-catalog-main {
	background: var(--d2l-color-regolith);
	flex: 1 1 auto;
	padding: 4rem 7rem;
}
.d2l-component-catalog-main h1.d2l-heading-1,
.d2l-component-catalog-main h2.d2l-heading-2 {
	border-bottom: 1px solid var(--d2l-color-gypsum);
	margin-bottom: 0.75rem;
	padding-bottom: 0.75rem;
}
img {
	max-width: 85%;
}
