html {
	font-size: 20px;
}
body {
	margin: 0;
}
main {
	display: flex;
	min-height: 100vh;
}
div.d2l-component-catalog-content.d2l-component-catalog-content-unresolved {
	opacity: 0;
}
div.d2l-component-catalog-content {
	transition: opacity ease-in 0.2s;
}

/** Side Panel */
.d2l-component-catalog-side-panel {
	align-items: stretch;
	background-color: white;
	border-right: 1px solid #e6eaf0;
	flex: 0 0 21%;
	overflow-y: scroll;
}
.d2l-component-catalog-title {
	border-bottom: 1px solid #e6eaf0;
	display: flex;
	justify-content: center;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
}
.d2l-component-catalog-band {
	background: linear-gradient(180deg, var(--d2l-color-celestine) 1.5rem, #ffffff 0%);
	display: block;
	min-height: 4px;
	position: relative; /* Needed for Firefox */
}
.d2l-component-catalog-title img {
	max-width: 85%;
}

/** Main Panel */
.d2l-component-catalog-content {
	background: var(--d2l-color-regolith);
	flex: 1 1 auto;
	max-width: calc(78% - 15rem);
	padding: 4.5rem 7.5rem;
}
.d2l-component-catalog-content h1.d2l-heading-1,
.d2l-component-catalog-content h2.d2l-heading-2 {
	border-bottom: 1px solid var(--d2l-color-gypsum);
	margin-bottom: 1.5rem;
	padding-bottom: 0.75rem;
}
.d2l-component-catalog-content h2.d2l-heading-2 {
	margin-top: 2rem;
}
.d2l-component-catalog-content img {
	max-width: 100%;
}
.d2l-component-catalog-content p:empty {
	margin: 0;
}

h2 {
	display: flex;
}
.tag {
	display:flex;
	align-self: flex-end;
	padding-left: 1rem;
}
.tag-inner {
	color: var(--d2l-color-malachite-minus-1);
}

/** Specialty Content Sections */
d2l-component-catalog-demo-snippet-wrapper,
d2l-component-catalog-interactive-demo {
	padding-top: 1rem;
}
.d2l-component-catalog-best-practices {
	display: flex;
}
.d2l-component-catalog-dos,
.d2l-component-catalog-donts {
	flex: 1 1 0px;
}
.d2l-component-catalog-best-practices ul {
	list-style: none;
	margin: 0;
}
.d2l-component-catalog-best-practices li::before {
	font-weight: bold;
	display: inline-block;
	margin-left: -1.3em;
	width: 1em;
}
.d2l-component-catalog-dos li::before {
	color: var(--d2l-color-olivine);
	content: "\2713";
}
.d2l-component-catalog-donts li::before {
	color: var(--d2l-color-cinnabar);
	content: "\00D7";
}

:not(pre) > code {
	background-color: var(--d2l-color-sylvite);
	border-radius: 0.3rem;
	font-size: 0.7rem;
	padding: 0.1rem 0.2rem;
}
