{% set css %}
	{% include "css/style.css" %}
{% endset %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ eleventyNavigation.title }}</title>
	<style>
		{{ css | cssmin | safe }}
	</style>
	<script src="/assets/js/base-imports.js" type="module"></script>
</head>
<body class="d2l-typography">
	<header>
		<div>
			Brightspace Component Catalog
		</div>
	</header>
	<main>
		<div class="d2l-component-catalog-side-nav">
			<nav aria-label="Component Information">
				{% set navPages = collections.all | eleventyNavigation %}
				{% macro renderNavListItem(entry) -%}
					<li{% if entry.url == page.url %} class="d2l-component-catalog-link-selected"{% endif %}>
					<d2l-link href="{{ entry.url | url }}" class="d2l-link">{{ entry.title }}</d2l-link>
					{%- if entry.children.length -%}
					<ul>
						{%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
					</ul>
					{%- endif -%}
					</li>
				{%- endmacro %}

				<ul>
					{%- for entry in navPages %}
						{{ renderNavListItem(entry) }}
					{%- endfor -%}
				</ul>
			</nav>
		</div>
		<div class="d2l-component-catalog-main">
			{{ content | safe }}
		</div>
	</main>
</body>
</html>
