{% set css %}
	{% include "css/style.css" %}
	{% include "css/prism-ghcolors.css" %}
{% endset %}
<!doctype html>
<html class="initial-hide" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ eleventyNavigation.title }}</title>
	<style>
		.initial-hide {
			display: none;
		}
	</style>
	<style>
		{{ css | cssmin | safe }}
	</style>
	<script src="{{assets.getPath("base-imports.js")}}" type="module"></script>
</head>
<body class="d2l-typography">
	<main>
		<div class="d2l-component-catalog-side-nav d2l-body-standard">
			<div class="d2l-component-catalog-band"></div>
			<div class="d2l-component-catalog-title">
				<img src="/img/logo_slim.png"></img>
			</div>
			<nav aria-label="Component Information">
				{% set navPages = collections.all | eleventyNavigation %}
				{% macro renderNavListItem(entry, size) -%}
					<li>
						{% set link_base_class = "d2l-link" %}
						{% set link_size = "" %}
						{% if size == "main" %}
							{% set link_size = " d2l-link-main" %}
						{% elif size == "small" %}
							{% set link_size = " d2l-link-small" %}
						{% endif %}
						{% set link_class = link_base_class + link_size %}
						{% if entry.url == page.url %}
							{% set link_class = link_class + " d2l-component-catalog-link-selected" %}
						{% endif %}
						<a
							href="{{ entry.url | url }}"
							class="{{ link_class }}"
						>{{ entry.title }}</a>
						{%- if entry.children.length -%}
							<ul>
								{%- for child in entry.children %}
									{% if size == "main" %}
										{{ renderNavListItem(child) }}
									{% else %}
										{{ renderNavListItem(child, "small") }}
									{% endif %}
								{% endfor -%}
							</ul>
						{%- endif -%}
					</li>
				{%- endmacro %}

				<ul>
					{%- for entry in navPages %}
						{{ renderNavListItem(entry, "main") }}
					{%- endfor -%}
				</ul>
			</nav>
		</div>
		<div class="d2l-component-catalog-content d2l-body-compact">
			{{ content | safe }}
		</div>
	</main>
</body>
</html>
