---
layout: layouts/base
permalink: components/{{eleventyNavigation.parent}}/{{eleventyNavigation.key}}.html
---
{{ content | safe }}
<script src="{{assets.getPath("demo-snippet-wrapper.js")}}" type="module"></script>
<script src="{{assets.getPath("code-demo-wrapper.js")}}" type="module"></script>
<script src="{{assets.getPath("resizable-demo.js")}}" type="module"></script>
<script src="{{assets.getPath("interactive-demo-wrapper.js")}}" type="module"></script>
<script src="{{assets.getPath(".js")}}" type="module"></script>

<h2 class="d2l-heading-2">Future Enhancements</h2>
{% enhancements repo %}
