---
layout: layouts/base
---
<head>
	<style>
		h2 img {
			height: 1.7rem;
			padding-right: 0.5rem;
		}
	</style>
</head>
{{ content | safe }}
<script src="{{assets.getPath("status-table.js")}}" type="module"></script>
