---
layout: layouts/base
permalink: components/{{eleventyNavigation.parent}}/{{eleventyNavigation.key}}.html
---
{{ content | safe }}
<script src="/assets/js/demo-snippet-wrapper.js" type="module"></script>
