---
layout: layouts/base
permalink: components/{{eleventyNavigation.parent}}/{{eleventyNavigation.key}}.html
---
{{ content | safe }}
<script src="/assets/js/component-status-table.js" type="module"></script>

<d2l-component-catalog-status-table></d2l-component-catalog-status-table>
